@model DKAC.Models.InfoModel.UserInfo
@{
    ViewBag.Title = "Nhập liệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    label {
        margin-top: 8px;
        color: #435d7d;
        font-weight: 700;
    }

    .form-group {
        border: 2px solid #afc9e4;
        background: #f9fcff;
        padding: 20px;
    }

        .form-group .row {
            margin-top: 20px;
            margin-bottom: 20px;
        }

    .table-bordered td, .table-bordered th {
        padding: 5px !important;
    }

    svg:not(:root).svg-inline--fa {
        color: red;
    }

    .lock {
        color: black;
        background-color: white;
        border: none;
    }

    .home {
        color: #1bbd36 !important;
    }

    .inputText {
        padding: 3px !important;
        font-size: 14px !important;
    }

    .p-l-0 {
        padding-left: 0px !important;
    }

    .margin-top-10 {
        margin-top: 10px !important;
    }

    .margin-top-40 {
        margin-top: 40px !important
    }
</style>
<head>
    <title>Nhập liệu lệnh sản xuất</title>
</head>

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6 uppercase">
                    <h2>NHẬP LIỆU LỆNH SẢN XUẤT</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <ol class="breadcrumb" style="margin-left: 15px;">
                <li style="margin-right: 10px"><a href="/"> <i class="fa fa-home home"></i> Home</a></li>
                <li class="active">
                    <span>Nhập liệu</span>
                </li>
            </ol>
        </div>

        <form action="" method="post" id="edit">
            <div class="form-group">
                <input type="hidden" class="form-control" id="Id" value="@Model.id" />
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center">
                        <h2><label>BẢNG LỆNH SẢN XUẤT</label></h2>
                    </div>
                    <div class="col-md-2 m-1"></div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Số LSX: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="SoLSX" />
                        <div style="color: red; font-style: italic;" class="textNoti" id="textvalid">
                            <!--hiển thị thông báo-->

                        </div>
                    </div>

                    <div class="col-md-2 text-right">
                        <label>Ngày: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="date" class="form-control" id="Date" disabled />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>PĐNSX số: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="" disabled />
                    </div>

                    <div class="col-md-2 text-right">
                        <label>NVKD: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="" disabled />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Lần sửa đổi: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="" disabled />
                    </div>

                    <div class="col-md-2 text-right">
                        <label>Sản phẩm: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="" disabled />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Khách hàng: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="" disabled />
                    </div>

                    <div class="col-md-2 text-right">
                        <label>Ngày giao hàng: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="date" class="form-control" id="Date" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4 margin-top-10">
                        <div class="table-responsive" style="border: 1px solid black !important;">
                            <table class="table table-striped table-bordered info-materials" id="printTableSLTong" style="margin-bottom:0px !important">
                                <tr style="background-color: white; color: black;">
                                    <th class="text-center" style="width:30px">STT</th>
                                    <th class="text-center" style="width:250px">
                                        <div class="row">
                                            <div class="col-md-6 p-l-0">
                                                <label>Số lượng tổng:</label>
                                            </div>
                                            <div class="col-md-6 p-l-0">
                                                <input type="text" class="form-control" id="" />
                                            </div>
                                        </div>

                                    </th>
                                    <th class="text-center" style="width:30px;">
                                        <a class="btn btn-sm btn-primary lock p5" id="addRowSLTong" title="Thêm mới">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </th>
                                </tr>

                                <tbody id="appendixPrintTbodySLTong"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>

                <hr />

                <!--I. Quy cách sản phẩm-->
                <div class="group">
                    <div class="form-body">
                        <div class="row span">
                            <div class="col-md-12">
                                <label class="caption-subject sbold uppercase" style="font-size:20px;">
                                    <u>I. QUY CÁCH SP</u>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>

                @{
                    var n = 4;
                    var m = 6;
                }
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="table-responsive" style="border: 1px solid black !important;">
                            <table class="table table-striped table-bordered" style="border: 1px solid black !important; margin-bottom: 0px">
                                <tr class="bg-blue" style="background-color: #e9ecef;color: black;">
                                    <th class="text-center wrapper" rowspan="@(n)" style="width: 200px;vertical-align: middle;border: black solid 1px !important;">
                                        Ruột 1
                                    </th>
                                    <td class="wrapper" style="padding: 0px !important;border: black solid 1px !important;">
                                        @for (int i = 0; i < n; i++)
                                        {
                                            <table class="table table-striped table-bordered" style="margin-bottom: 0px !important">
                                                <tbody>
                                                    <tr class="wrapper">
                                                        <td class="wrapper">@i</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        }
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>

                <!--Bảng nội dung CTP-->
                <div class="group">
                    <div class="form-body">
                        <div class="row span">
                            <div class="col-md-12">
                                <label class="caption-subject sbold uppercase" style="font-size:20px;">
                                    <u>II. CHẾ BẢN</u>&emsp;  Ghi bản CTP
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered info-materials" id="appendixTable">
                                        <tr style="background-color: #0076d2; color: white;">
                                            <th class="text-center" style="width:40px">STT</th>
                                            <th class="text-center" style="width:250px">Tay in</th>
                                            <th class="text-center" style="width:120px">Số kẽm</th>
                                            <th class="text-center" style="width:120px">Số bộ</th>
                                            <th class="text-center" style="width:120px">TỔNG</th>
                                            <th class="text-center" style="width:150px">Trang/khổ in</th>
                                            <th class="text-center" style="width:120px">Khổ in</th>
                                            <th class="text-center" style="width:120px">Khổ kẽm</th>
                                            <th class="text-center" style="width:150px">PP in</th>
                                            <th class="text-center" style="width:40px;">
                                                <a class="btn btn-sm btn-primary lock p5" id="addRowAppendixTable" title="Thêm mới">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </th>
                                        </tr>

                                        <tbody id="appendixTbody"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label>Thời gian giao bản:</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Ghi chú đặc biệt:</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="" />
                    </div>
                </div>

                <hr />

                <!--Bảng In-->
                <div class="group">
                    <div class="form-body">
                        <div class="row span">
                            <div class="col-md-12">
                                <label class="caption-subject sbold uppercase" style="font-size:20px;">
                                    <u>III. IN</u>
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered info-materials" id="printTable">
                                        <tr style="background-color: #0076d2; color: white;">
                                            <th class="text-center" style="width:40px">STT</th>
                                            <th class="text-center" style="width:250px">Tay in</th>
                                            <th class="text-center" style="width:120px">Loại giấy</th>
                                            <th class="text-center" style="width:120px">Khổ giấy</th>
                                            <th class="text-center" style="width:120px">Khổ in</th>
                                            <th class="text-center" style="width:120px">Chính</th>
                                            <th class="text-center" style="width:120px">Bù in</th>
                                            <th class="text-center" style="width:120px">Bù TP</th>
                                            <th class="text-center" style="width:120px">Tổng</th>
                                            <th class="text-center" style="width:120px">PP in</th>
                                            <th class="text-center" style="width:100px">Số kg</th>
                                            <th class="text-center" style="width:100px">Số lượt in quy đổi</th>
                                            <th class="text-center" style="width:100px">Số lượt in thực tế</th>
                                            <th class="text-center" style="width:40px;">
                                                <a class="btn btn-sm btn-primary lock p5" id="addRowprintTable" title="Thêm mới">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </th>
                                        </tr>

                                        <tbody id="appendixPrintTbody"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label>Ghi chú đặc biệt:</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Thời hạn giao bán thành phẩm:</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="" />
                    </div>
                </div>

                <!--IV Thành phẩm-->
                <div class="group">
                    <div class="form-body">
                        <div class="row span">
                            <div class="col-md-12">
                                <label class="caption-subject sbold uppercase" style="font-size:20px;">
                                    <u>IV. THÀNH PHẨM</u>
                                </label>
                            </div>
                        </div>


                    </div>
                </div>


                <div class="row">
                    <div class="col-md-2">
                        <label class="margin-top-40">Thành phẩm chung:</label>
                    </div>

                    <div class="col-md-10">
                        <textarea class="form-control" rows="4"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label class="margin-top-40">Ghi chú đặc biệt:</label>
                    </div>

                    <div class="col-md-10">
                        <textarea class="form-control" rows="4"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label>Thời hạn giao thành phẩm:</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="" />
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label>Người lập lệnh sản xuất:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="" disabled />
                    </div>

                    <div class="col-md-2 text-right">
                        <label>Người duyệt:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="" disabled />
                    </div>
                </div>

            </div>
        </form>

        <div class="row">
            <div class="col-md-12 col-md-offset-2 text-right">
                <a onclick="goBack()" class="btn btn-primary" style="width: 8%; color:white"><i class="fa fa-arrow-left"></i>  Quay lại</a>
                <a onclick="" class="btn btn-success" style="width: 8%; color:white">Lưu</a>
            </div>
        </div>
    </div>
</div>
<!--Js file-->
<!-- ~/assets/login/vendor JS-->
<script src="~/assets/login/vendor/datepicker/moment.min.js"></script>
<script src="~/assets/vendor/jquery/1.7.1/jquery.min.js"></script>


<script type="text/javascript">
    function goBack() {
        window.history.back();
    }

    //var lstAppendix = model.listContentOfHandoverInfos;
    var lstAppendix = [];
    var lstAppendixPrint = [];
    var lstAppenSLTong = [];

    $(document).ready(function () {
        $("#edit").submit(function () {
            return false;
        });

        $("input#Date").on({
            keydown: function (e) {
                if (e.which === 8 || e.which === 46)
                    return true;
                return false;
            },
        });

        var html = generateHtmlAppendix(lstAppendix);
        $('#appendixTbody').html(html);

        var html1 = generateHtmlAppendixPrint(lstAppendix);
        $('#appendixPrintTbody').html(html1);
    });

    ////////bảng in thứ 1 ///////////////////
    function generateHtmlAppendix(lstAppendix) {
        var htmlAllRows = '';
        for (var i = 0; i < lstAppendix.length; i++) {
            htmlAllRows = htmlAllRows + generateHtmlAppendixRow(lstAppendix[i], i);
        }
        return htmlAllRows;
    }

    function generateHtmlAppendixRow(appendix, index) {
        return `<tr id="standard_${index + 1}" class="appendixRow">
                            <td id="STT" class="text-center">${index + 1}</td>
                            <td>
                                <input type="text" class="form-control inputText TayIn" value="${appendix.TayIn == null ? '' : appendix.TayIn}" />
                            </td>
                            <td>
                                <input type="text" class="form-control inputText SoKem" value="${appendix.SoKem == null ? '' : appendix.SoKem}" />
                            </td>
                            <td>
                                <input type="text" class="form-control inputText SoBo" value="${appendix.SoBo == null ? '' : appendix.SoBo}" />
                            </td>
                            <td>
                                <input type="text" class="form-control inputText Tong" value="${appendix.Tong == null ? '' : appendix.Tong}" />
                            </td>
                            <td>
                                <input type="text" class="form-control inputText Trang" value="${appendix.Trang == null ? '' : appendix.Trang}" />
                            </td>
                            <td>
                                <input type="text" class="form-control inputText KhoIn" value="${appendix.KhoIn == null ? '' : appendix.KhoIn}" />
                            </td>
                            <td>
                                <input type="text" class="form-control inputText KhoKem" value="${appendix.KhoKem == null ? '' : appendix.KhoKem}" />
                            </td>
                            <td>
                                <input type="text" class="form-control inputText PPIn" value="${appendix.PPIn == null ? '' : appendix.PPIn}" />
                            </td>
                            <td class="text-center">
                                <a class="btn btn-sm widget-btn-red red p5 lock remove-row appendix-row" onclick="removeAppendixRow(this)" id="removeAppendixRow_${index + 1}" myid="${index + 1}" title="Xóa">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>`
    }


    $("#addRowAppendixTable").click(function () {
        var appendix = {
            TayIn: '',
            SoKem: '',
            SoBo: '',
            Tong: '',
            Trang: '',
            KhoIn: '',
            KhoKem: '',
            PPIn: '',
        };
        var htmlRow = generateHtmlAppendixRow(appendix, lstAppendix.length)
        $("#appendixTable #appendixTbody").append(htmlRow);
        lstAppendix.push(appendix);
        if (lstAppendix.length > 100) {
            $("#addRowAppendixTable").prop("disabled", true);
        }
        else {
            $("#addRowAppendixTable").prop("disabled", false);
        }
    });


    function removeAppendixRow(element) {
        var row = parseInt($(element).attr("myid"));
        $(element).parent().parent().remove();
        lstAppendix.splice(row - 1, 1);
        if (row <= lstAppendix.length) {
            for (r = row + 1; r <= lstAppendix.length + 1; r++) {
                $("#appendixTable #standard_" + r + " #STT").text(row);

                $("#appendixTable #standard_" + r + " .ac").removeAttr("myid");
                $("#appendixTable #standard_" + r + " .ac").attr("myid", "re_" + row);
                $("#appendixTable #standard_" + r + " .ac").attr("id", "ac_" + row);

                $("#appendixTable #standard_" + r + " .re").removeAttr("myid");
                $("#appendixTable #standard_" + r + " .re").attr("myid", "ac_" + row);
                $("#appendixTable #standard_" + r + " .re").attr("id", "re_" + row);

                $("#appendixTable #standard_" + r + " .appendix-row").removeAttr("myid");
                $("#appendixTable #standard_" + r + " .appendix-row").attr("myid", row);
                $("#appendixTable #standard_" + r + " .appendix-row").attr("id", "removeAppendixRow_" + row);

                $("#appendixTable #standard_" + r).attr("id", "standard_" + row);
                row = row + 1;
            }
        }
    }

    ////// bảng in thứ 2 //////////////
    function generateHtmlAppendixPrint(lstAppendixPrint) {
        var htmlAllRows = '';
        for (var i = 0; i < lstAppendixPrint.length; i++) {
            htmlAllRows = htmlAllRows + generateHtmlAppendixPrintRow(lstAppendixPrint[i], i);
        }
        return htmlAllRows;
    }

    function generateHtmlAppendixPrintRow(appendix, index) {
        return `<tr id="standard_${index + 1}" class="appendixRow">
                            <td id="STT" class="text-center">${index + 1}</td>
                            <td>
                                <input type="text" class="form-control inputText TayIn" value="${appendix.TayIn == null ? '' : appendix.TayIn}" />
                            </td>
                            <td>
                                <input type="text" class="form-control inputText LoaiGiay" value="${appendix.LoaiGiay == null ? '' : appendix.LoaiGiay}" />
                            </td>
                            <td>
                                <input type="text" class="form-control inputText KhoGiay" value="${appendix.KhoGiay == null ? '' : appendix.KhoGiay}" />
                            </td>
                            <td>
                                <input type="text" class="form-control inputText KhoIn" value="${appendix.KhoIn == null ? '' : appendix.KhoIn}" />
                            </td>
                            <td>
                                <input type="text" class="form-control inputText Chinh" value="${appendix.Chinh == null ? '' : appendix.Chinh}" />
                            </td>
                            <td>
                                <input type="text" class="form-control inputText BuIn" value="${appendix.BuIn == null ? '' : appendix.BuIn}" />
                            </td>
                            <td>
                                <input type="text" class="form-control inputText BuTP" value="${appendix.BuTP == null ? '' : appendix.BuTP}" />
                            </td>
                            <td>
                                <input type="text" class="form-control inputText Tong" value="${appendix.Tong == null ? '' : appendix.Tong}" />
                            </td>
                            <td>
                                <input type="text" class="form-control inputText PPIn" value="${appendix.PPIn == null ? '' : appendix.PPIn}" />
                            </td>
                            <td>
                                <input type="text" class="form-control inputText SoKg" value="${appendix.SoKg == null ? '' : appendix.SoKg}" />
                            </td>
                            <td>
                                <input type="text" class="form-control inputText SoLuotInQuyDoi" value="${appendix.SoLuotInQuyDoi == null ? '' : appendix.SoLuotInQuyDoi}" />
                            </td>
                            <td>
                                <input type="text" class="form-control inputText SoLuotInThucTe" value="${appendix.SoLuotInThucTe == null ? '' : appendix.SoLuotInThucTe}" />
                            </td>
                            <td class="text-center">
                                <a class="btn btn-sm widget-btn-red red p5 lock remove-row appendix-row" onclick="removeAppendixPrintRow(this)" id="removeAppendixPrintRow_${index + 1}" myid="${index + 1}" title="Xóa">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>`
    }


    $("#addRowprintTable").click(function () {
        var appendix = {
            TayIn: '',
            LoaiGiay: '',
            KhoGiay: '',
            KhoIn: '',
            Chinh: '',
            BuIn: '',
            BuTP: '',
            Tong: '',
            PPIn: '',
            SoKg: '',
            SoLuotInQuyDoi: '',
            SoLuotInThucTe: '',
        };
        var htmlRow = generateHtmlAppendixPrintRow(appendix, lstAppendixPrint.length)
        $("#printTable #appendixPrintTbody").append(htmlRow);
        lstAppendixPrint.push(appendix);
        if (lstAppendixPrint.length > 100) {
            $("#addRowprintTable").prop("disabled", true);
        }
        else {
            $("#addRowprintTable").prop("disabled", false);
        }
    });


    function removeAppendixPrintRow(element) {
        var row = parseInt($(element).attr("myid"));
        $(element).parent().parent().remove();
        lstAppendixPrint.splice(row - 1, 1);
        if (row <= lstAppendixPrint.length) {
            for (r = row + 1; r <= lstAppendixPrint.length + 1; r++) {
                $("#printTable #standard_" + r + " #STT").text(row);
                $("#printTable #standard_" + r + " .ac").removeAttr("myid");
                $("#printTable #standard_" + r + " .ac").attr("myid", "re_" + row);
                $("#printTable #standard_" + r + " .ac").attr("id", "ac_" + row);
                $("#printTable #standard_" + r + " .re").removeAttr("myid");
                $("#printTable #standard_" + r + " .re").attr("myid", "ac_" + row);
                $("#printTable #standard_" + r + " .re").attr("id", "re_" + row);
                $("#printTable #standard_" + r + " .appendix-row").removeAttr("myid");
                $("#printTable #standard_" + r + " .appendix-row").attr("myid", row);
                $("#printTable #standard_" + r + " .appendix-row").attr("id", "removeAppendixPrintRow_$" + row);
                $("#printTable #standard_" + r).attr("id", "standard_" + row);
                row = row + 1;
            }
        }
    }

    /////////bảng SL Tổng///////////////

    function generateHtmlAppendSLTongRow(appendix, index) {
        return `<tr id="standard_${index + 1}" class="appendixRow">
                            <td id="STT" class="text-center">${index + 1}</td>
                            <td>
                                <input type="text" class="form-control inputText SoLuong" value="${appendix.SoLuong == null ? '' : appendix.SoLuong}" />
                            </td>
                            <td class="text-center">
                                <a class="btn btn-sm widget-btn-red red p5 lock remove-row appendix-row" onclick="removeAppendSLTongRow(this)" id="removeAppendSLTongRow_${index + 1}" myid="${index + 1}" title="Xóa">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>`
    }


    $("#addRowSLTong").click(function () {
        var appendix = {
            SoLuong: '',
        };
        var htmlRow = generateHtmlAppendSLTongRow(appendix, lstAppenSLTong.length)
        $("#printTableSLTong #appendixPrintTbodySLTong").append(htmlRow);
        lstAppenSLTong.push(appendix);
        if (lstAppenSLTong.length > 100) {
            $("#addRowSLTong").prop("disabled", true);
        }
        else {
            $("#addRowSLTong").prop("disabled", false);
        }
    });


    function removeAppendSLTongRow(element) {
        var row = parseInt($(element).attr("myid"));
        $(element).parent().parent().remove();
        lstAppenSLTong.splice(row - 1, 1);
        if (row <= lstAppenSLTong.length) {
            for (r = row + 1; r <= lstAppenSLTong.length + 1; r++) {
                $("#printTableSLTong #standard_" + r + " #STT").text(row);
                $("#printTableSLTong #standard_" + r + " .ac").removeAttr("myid");
                $("#printTableSLTong #standard_" + r + " .ac").attr("myid", "re_" + row);
                $("#printTableSLTong #standard_" + r + " .ac").attr("id", "ac_" + row);
                $("#printTableSLTong #standard_" + r + " .re").removeAttr("myid");
                $("#printTableSLTong #standard_" + r + " .re").attr("myid", "ac_" + row);
                $("#printTableSLTong #standard_" + r + " .re").attr("id", "re_" + row);
                $("#printTableSLTong #standard_" + r + " .appendix-row").removeAttr("myid");
                $("#printTableSLTong #standard_" + r + " .appendix-row").attr("myid", row);
                $("#printTableSLTong #standard_" + r + " .appendix-row").attr("id", "removeAppendSLTongRow_$" + row);
                $("#printTableSLTong #standard_" + r).attr("id", "standard_" + row);
                row = row + 1;
            }
        }
    }

    /////////////////////////////////////////////////////

    function AddOrUpdate() {
        var data = {
            FullName: $('#FullName').val(),
            UserName: $('#UserName').val(),
            PassWord: $('#PassWord').val(),
            Gender: $('#Gender').val().trim(),
            BirthDay: $('#BirthDay').val(),
            RoomId: $('#RoomId').val(),
            Permission: $('#Permission').val(),
            Role: $('#Role').val(),
            Tel: $('#Tel').val(),
            Email: $('#Email').val(),
            CMND: $('#CMND').val(),
            Address: $('#Address').val(),
        };

        var title2 = "Bạn có đồng ý thêm mới không?";
        var url = '/Employee/Add';

        if ($("form#edit").valid()) {
            swal({
                title: title2,
                icon: "warning",
                buttons: {
                    ok: "Xác nhận",
                    cancel: "Hủy",
                }
            }).then((isConfirm) => {
                if (isConfirm != 'ok') {

                } else {
                    $("#btnLuu").attr("disabled", true);
                    $.post(url, data,
                        function (rs) {
                            if (rs.status > 0) {
                                swal({
                                    title: "Cập nhật thành công!",
                                    text: "Dữ liệu của bạn đã được cập nhật!",
                                    icon: "success",
                                }).then(function (isConfirm) {
                                    window.location.href = '/Employee';
                                });
                            }
                            else {
                                toastr.error(rs.message);
                            }
                        });
                    $("#btnLuu").attr("disabled", false);
                }
            });
        }
    }


</script>
