@model DKAC.Models.InfoModel.UserInfo
@{
    ViewBag.Title = "Nhập liệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    label {
        margin-top: 8px;
        color: #435d7d;
        font-weight: 700;
    }

    .form-group {
        border: 2px solid #afc9e4;
        background: #f9fcff;
        padding: 20px;
    }

        .form-group .row {
            margin-top: 20px;
            margin-bottom: 20px;
        }

    .table-bordered td, .table-bordered th {
        padding: 5px !important;
        vertical-align: middle !important;
    }

    svg:not(:root).svg-inline--fa {
        color: red;
    }

    .lock {
        color: black;
        background-color: white;
        border: none;
    }

    .home {
        color: #1bbd36 !important;
    }

    .inputText {
        padding: 3px !important;
        font-size: 14px !important;
    }

    .form-group {
        margin-bottom: 0;
    }


    margin-top-15 {
        margin-top: 15px !important;
    }

    .modal-header {
        background-color: #0076d2;
        color: white;
    }

    .modal-content {
        border: #d0d0d0 solid 2px !important;
        background-color: #fff7ec;
    }

    .ui-autocomplete {
        z-index: 1000;
    }
</style>

<head>
    <title>Nhập liệu tổng quan đơn hàng</title>
</head>

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6 uppercase">
                    <h2>NHẬP LIỆU TỔNG QUAN ĐƠN HÀNG</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <ol class="breadcrumb" style="margin-left: 15px;">
                <li style="margin-right: 10px"><a href="/"> <i class="fa fa-home home"></i> Home</a></li>
                <li class="active">
                    <span>Nhập liệu</span>
                </li>
            </ol>
        </div>

        <form action="" method="post" id="edit">
            <div class="form-group">
                <input type="hidden" class="form-control" id="Id" value="@Model.id" />
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center">
                        <h2><label>BẢNG THÔNG TIN CHUNG VỀ SẢN PHẨM</label></h2>
                    </div>
                    <div class="col-md-2 m-1"></div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Ngày: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="date" class="form-control" id="Date" />
                        <div class="valid" style="color: red; font-style: italic;">
                            <div class="textNoti" id="textvalid">
                                <!--hiển thị thông báo-->
                            </div>
                        </div>

                    </div>

                    <div class="col-md-2 text-right">
                        <label>Lần sửa dổi: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="number" min="0" class="form-control" id="SoLanSua" />
                        <div class="valid" style="color: red; font-style: italic;">
                            <div class="textNotiTypeNumber" id="textvalidTypeNumber">
                                <!--hiển thị thông báo-->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>PĐNSX số: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="" />
                    </div>

                    <div class="col-md-2 text-right">
                        <label>NVKD: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Mã khách hàng: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="" />
                    </div>

                    <div class="col-md-2 text-right">
                        <label>Tên khác hàng: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Mã sản phẩm: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="" />
                    </div>

                    <div class="col-md-2 text-right">
                        <label>Tên sản phẩm: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Nhà cung cấp vật tư: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="" />
                    </div>

                    <div class="col-md-2 text-right">
                        <label>Khổ TP: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="NameTest" oninput="SearchNameAutoComplete(this)" onchange="TrimValue(this)" />
                    </div>
                </div>

                <hr />

                <!--Bảng nội dung CTP-->
                <div class="group">
                    <div class="form-body">
                        <div class="row span">
                            <div class="col-md-12">
                                <label class="caption-subject sbold uppercase" style="font-size:20px;">
                                    II. Nội dung CTP
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered info-materials" id="appendixTable">
                                        <tr style="background-color: #0076d2; color: white;">
                                            <th class="text-center" style="width: 50px;">STT</th>
                                            <th class="text-center" style="width: 150px;">Nhóm vật tư</th>
                                            <th class="text-center" style="width: 270px;">Nội dung</th>
                                            <th class="text-center" style="width: 100px">Trang</th>
                                            <th class="text-center" style="width: 100px">Loại giấy</th>
                                            <th class="text-center" style="width: 120px">Định lượng giấy</th>
                                            <th class="text-center" colspan="2">Kiểu in</th>
                                            <th class="text-center" style="width: 200px">Ghi chú</th>
                                            <th class="text-center" style="width: 50px;">
                                                <a class="btn btn-sm btn-primary lock p5" id="addRowAppendixTable" title="Thêm mới">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </th>
                                        </tr>

                                        <tbody id="appendixTbody"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Quy cách chung: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="" />
                    </div>

                    <div class="col-md-2 text-right">
                        <label>Người duyệt: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Nhân viên quản lý đơn hàng: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="" />
                    </div>

                    <div class="col-md-2 text-right">
                        <label>Số điện thoại: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="" />
                    </div>
                </div>
            </div>
        </form>

        <div class="row" style="margin-top: 15px">
            <div class="col-md-12 text-right">
                <a href="/Material" class="btn btn-primary" style="width: 8%">Hủy</a>
                <a @*onclick="TransViewEditMaterial()"*@ href="/Material/EditMaterial/0" class="btn btn-success" style="width: 8%; color:white">Tiếp  <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>

<!-- Modal content-->
<div class="modal" id="Modal-StageTranfer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle"><b>Thêm mới nhóm vật tư</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <label for="displayOrder">Tên nhóm vật tư</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="materialTypeName" />
                        </div>
                        <div style="margin-top: 5px; color: red; font-style: italic;" id="notiMaterialName">

                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" style="background-color: red;" data-dismiss="modal">Đóng</button>
                <button onclick="UpdateMaterialType()" type="button" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>

<!--Js file-->
<script src="~/assets/login/vendor/datepicker/moment.min.js"></script>
<script src="~/Scripts/bootbox.min.js"></script>
<script src="~/assets/vendor/jquery/1.7.1/jquery.min.js"></script>

@section scripts {
    <script type="text/javascript">

        //var lstAppendix = model.listContentOfHandoverInfos;
        var lstAppendix = [];
        //var lstMaterial = Html.Raw(Json.Encode(Model.lstMaterial));
        var lstMaterialType = @Html.Raw(Json.Encode(Model.lstMaterialType));


        $(document).ready(function () {
            $("#edit").submit(function () {
                return false;
            });

            $("input#Date").on({
                keydown: function (e) {
                    if (e.which === 8 || e.which === 46)
                        return true;
                    return false;
                },
            });

            var html = generateHtmlAppendix(lstAppendix);
            $('#appendixTbody').html(html);

            $(".selcted2").select2({
                theme: "bootstrap",
                cache: true,
                dropdownAutoWidth: true,
                ajax: {
                    url: '/Material/Search',
                    dataType: 'json',
                    delay: 250,
                    cache: true,
                    dropdownAutoWidth: true,
                    processResults: function (data) {
                        var results = [{ id: -1, text: '--Thêm mới--' }];
                        results.push(...data.map(o => {
                            return { id: o.Id, text: `${o.MaterialTypeName}` }
                        }));
                        return {
                            results: results
                        };
                    }
                }
            }).on('change', function (e) {
                if ($(e.target).val() * 1 === -1) {
                    $(e.target).val('');
                    $('#Modal-StageTranfer').modal('show');
                    $('#notiMaterialName').empty();
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                }
            });
        });


        function generateHtmlAppendix(lstAppendix) {
            var htmlAllRows = '';
            for (var i = 0; i < lstAppendix.length; i++) {
                htmlAllRows = htmlAllRows + generateHtmlAppendixRow(lstAppendix[i], i);
            }
            return htmlAllRows;
        }

        function generate(appendix, index) {
            var htmlRow = `<select class="form-control MaterialTypeId selcted2" required style="width: 100%">`;
            htmlRow += `<option value="" ${appendix.MaterialTypeId == '' ? 'selected' : ''}>---Chọn---</option > `;
            for (var i = 0; i < lstMaterialType.length; i++) {
                htmlRow += `<option value = "${lstMaterialType[i].Id}" ${lstMaterialType[i].Id == appendix.MaterialTypeId ? 'selected' : ''}> ${lstMaterialType[i].MaterialTypeName}</option> `;
            }
            htmlRow += `</select>`
            return htmlRow;
        }

        function generateHtmlAppendixRow(appendix, index) {
            return `<tr id="standard_${index + 1}" class="appendixRow">
                                <td id="STT" class="text-center">${index + 1}</td>
                                <td>
                                    ${generate(appendix, index)}
                                </td>
                                <td>
                                    <input type="text" class="form-control inputText LoaiVatTu" value="${appendix.LoaiVatTu == null ? '' : appendix.LoaiVatTu}" />
                                </td>
                                <td>
                                    <input type="text" class="form-control inputText Trang" value="${appendix.Trang == null ? '' : appendix.Trang}" />
                                </td>
                                <td>
                                    <input type="text" class="form-control inputText Giay" value="${appendix.Giay == null ? '' : appendix.Giay}" />
                                </td>
                                <td>
                                    <input type="text" class="form-control inputText Dinhluong" value="${appendix.Dinhluong == null ? '' : appendix.Dinhluong}" />
                                </td>
                                <td>
                                    <input type="text" class="form-control inputText KieuIn1" value="${appendix.KieuIn1 == null ? '' : appendix.KieuIn1}" />
                                </td>
                                <td>
                                    <input type="text" class="form-control inputText KieuIn2" value="${appendix.KieuIn2 == null ? '' : appendix.KieuIn2}" />
                                </td>
                                <td>
                                    <input type="text" class="form-control inputText GhiChu" value="${appendix.GhiChu == null ? '' : appendix.GhiChu}" />
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-sm widget-btn-red red p5 lock remove-row appendix-row" style"background-color: white !important;" onclick="removeAppendixRow(this)" id="removeAppendixRow_${index + 1}" myid="${index + 1}" title="Xóa">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>`
        }


        $("#addRowAppendixTable").click(function () {
            var appendix = {
                LoaiVatTu: '',
                MaterialTypeId: '',
                Trang: '',
                Giay: '',
                Dinhluong: '',
                KieuIn1: '',
                KieuIn2: '',
                GhiChu: '',
            };
            var htmlRow = generateHtmlAppendixRow(appendix, lstAppendix.length)
            $("#appendixTable #appendixTbody").append(htmlRow);
            lstAppendix.push(appendix);
            if (lstAppendix.length > 1000) {
                $("#addRowAppendixTable").prop("disabled", true);
            }
            else {
                $("#addRowAppendixTable").prop("disabled", false);
            }
            $(".selcted2").select2({
                theme: "bootstrap",
                cache: true,
                dropdownAutoWidth: true,
                ajax: {
                    url: '/Material/Search',
                    dataType: 'json',
                    delay: 250,
                    cache: true,
                    dropdownAutoWidth: true,
                    processResults: function (data) {
                        var results = [{ id: -1, text: '--Thêm mới--' }];
                        results.push(...data.map(o => {
                            return { id: o.Id, text: `${o.MaterialTypeName}` }
                        }));
                        return {
                            results: results
                        };
                    }
                }
            }).on('change', function (e) {
                if ($(e.target).val() * 1 === -1) {
                    $(e.target).val('');
                    $('#Modal-StageTranfer').modal('show');
                    $('#notiMaterialName').empty();
                    $('body').removeClass('modal-open');
                    $('.modal-backdrop').remove();
                }
            });
        });


        function removeAppendixRow(element) {
            var row = parseInt($(element).attr("myid"));
            $(element).parent().parent().remove();
            lstAppendix.splice(row - 1, 1);
            if (row <= lstAppendix.length) {
                for (r = row + 1; r <= lstAppendix.length + 1; r++) {
                    $("#appendixTable #standard_" + r + " #STT").text(row);

                    $("#appendixTable #standard_" + r + " .ac").removeAttr("myid");
                    $("#appendixTable #standard_" + r + " .ac").attr("myid", "re_" + row);
                    $("#appendixTable #standard_" + r + " .ac").attr("id", "ac_" + row);

                    $("#appendixTable #standard_" + r + " .re").removeAttr("myid");
                    $("#appendixTable #standard_" + r + " .re").attr("myid", "ac_" + row);
                    $("#appendixTable #standard_" + r + " .re").attr("id", "re_" + row);

                    $("#appendixTable #standard_" + r + " .appendix-row").removeAttr("myid");
                    $("#appendixTable #standard_" + r + " .appendix-row").attr("myid", row);
                    $("#appendixTable #standard_" + r + " .appendix-row").attr("id", "removeAppendixRow_" + row);

                    $("#appendixTable #standard_" + r).attr("id", "standard_" + row);
                    row = row + 1;
                }
            }
        }


        function UpdateMaterialType() {
            $('#notiMaterialName').empty();

            var materialTypeName = $('#materialTypeName').val().trim();

            if (materialTypeName == null || materialTypeName == "" || materialTypeName == ' ') {
                $('#notiMaterialName').html('Tên nhóm vật tư không được để trống')
                return false;
            }
            var data = {
                Id: 0,
                MaterialTypeName: $('#materialTypeName').val().trim(),
            };
            var url = '/Material/UpdateMaterialType';
            $.ajax({
                url: "/Material/CheckDuplicatedMaterialName/",
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                data: `{'MaterialTypeName':'${data.MaterialTypeName}', 'id':'${data.Id}'}`,
                success: function (result) {
                    if (result == true) {
                        $.post(url, data,
                            function (rs) {
                                if (rs == 1) {
                                    toastr.success('Thêm mới thành công');
                                    $('#Modal-StageTranfer').modal('hide');
                                } else { toastr.error('Thêm mới thất bại'); }
                            });
                    }
                    else {
                        $('#notiMaterialName').html('Tên nhóm vật tư đã bị trùng')
                        return false;
                    }
                }
            });
        }

        $(".selcted2").select2({
            theme: "bootstrap",
            cache: true,
            dropdownAutoWidth: true,
            ajax: {
                url: '/Material/Search',
                dataType: 'json',
                delay: 250,
                cache: true,
                dropdownAutoWidth: true,
                processResults: function (data) {
                    var results = [{ id: -1, text: '--Thêm mới--' }];
                    results.push(...data.map(o => {
                        return { id: o.Id, text: `${o.MaterialTypeName}` }
                    }));
                    return {
                        results: results
                    };
                }
            }
        }).on('change', function (e) {
            if ($(e.target).val() * 1 === -1) {
                $(e.target).val('');
                $('#Modal-StageTranfer').modal('show');
                $('#notiMaterialName').empty();
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
            }
        });

        function SearchNameAutoComplete(element) {
            var value = $(element).val();
            $(element).autocomplete({
                minLength: 1,
                source: function (request, response) {
                    $.ajax({
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        url: "/Material/SearchNameAutoComplete",
                        data: "{'keySearch':'" + value + "'}",
                        success: function (rs) {
                            response(rs);
                        },
                        error: function (result) {
                            alert("No Match");
                        }
                    });
                }
            });
        }

        function TrimValue(element) {
            var value = $(element).val().trim();
            $(element).val(value);
        }

        function GetInfoDetail() {
            //Lấy thông tin details
            lstContents = [];
            for (var i = 0; i < lstAppendix.length; i++) {
                var contents = {
                    MeasuringId: $('#standard_' + (i + 1) + ' .MeasuringId').val(),
                    MeasuringName: measurName,
                    Model: $('#standard_' + (i + 1) + ' .Model').val(),
                    SerialNumber: $('#standard_' + (i + 1) + ' .SerialNumber').val(),
                    Accessories: $('#standard_' + (i + 1) + ' .Accessories').val(),
                    Status: $('#standard_' + (i + 1) + ' .Status').val(),
                };
                lstContents.push(contents);
            };
            return lstContents;
        }

        var textnoti = `<span class="red">Ngày không được để trống!</span>`;

        function GetData() {
            $("#textvalid").empty();
            var date = $("#Date").val();
            if (date == null || date == "" || date == ' ') {
                $(".textNoti").html(textnoti);
                toastr.warning('Bạn chưa nhập đầy đủ thông tin');
            }
            else {
                var data = {
                    Id: $('#Id').val() * 1,
                    listContentOfHandoverInfos: GetInfoDetail(),
                }
                return data;
            }
            return false;
        }


        function TransViewEditMaterial() {
            var data = GetData();
            if (data != false) {
                url = '/MinutesOfHandoverMeeting/SaveAndSignVO/';
                $.post(url, data,
                    function (rs) {
                    });

            }
        }

        function AddOrUpdate() {
            var data = {
                FullName: $('#FullName').val(),
                UserName: $('#UserName').val(),
                PassWord: $('#PassWord').val(),
                Gender: $('#Gender').val().trim(),
                BirthDay: $('#BirthDay').val(),
                RoomId: $('#RoomId').val(),
                Permission: $('#Permission').val(),
                Role: $('#Role').val(),
                Tel: $('#Tel').val(),
                Email: $('#Email').val(),
                CMND: $('#CMND').val(),
                Address: $('#Address').val(),
            };

            var title2 = "Bạn có đồng ý thêm mới không?";
            var url = '/Employee/Add';

            if ($("form#edit").valid()) {
                swal({
                    title: title2,
                    icon: "warning",
                    buttons: {
                        ok: "Xác nhận",
                        cancel: "Hủy",
                    }
                }).then((isConfirm) => {
                    if (isConfirm != 'ok') {

                    } else {
                        $("#btnLuu").attr("disabled", true);
                        $.post(url, data,
                            function (rs) {
                                if (rs.status > 0) {
                                    swal({
                                        title: "Cập nhật thành công!",
                                        text: "Dữ liệu của bạn đã được cập nhật!",
                                        icon: "success",
                                    }).then(function (isConfirm) {
                                        window.location.href = '/Employee';
                                    });
                                }
                                else {
                                    toastr.error(rs.message);
                                }
                            });
                        $("#btnLuu").attr("disabled", false);
                    }
                });
            }
        }


        $("input#SoLanSua").on({
            keydown: function (e) {
                if (e.which === 69)
                    return false;
            },
        });
    </script>
}
